WP_ADMIN_USER=admin
WP_ADMIN_PASSWORD=admin
ONESIGNAL_APP_ID=bd5255fe-fc6d-4f60-ab57-f4ab8bac1c7f
ONESIGNAL_API_KEY=os_v2_app_xvjfl7x4nvhwbk2x6svyxla4p7t6mfszdlxukcfddqtzkrhx6dzvknln44jwd7wjrawj5ue2a3wxlkvupa6pqkvwmiq4mwlpz6swyri